<% title "About" %>
<% keywords "Charlotte, About, Christian, Jamaica, Ruby on Rails, Air Force, Sales, People, HR, Talent" %>
<% description "Hi, I'm Andrew and I've been thinking about people, how we connect with each other, and the things we use to try to make us happy, for a very long time." %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <p>So far I am the only Andrew Gertig I know of so Googling will usually turn up quite a bit, but I'm glad you're here and I'd love to tell you just a bit about myself.</p>

          <p>
            I am the Chief People Officer at <%= link_to "Skookum", "http://skookum.com" %>, where I have the privilege of helping to attract and retain the best people. At Skookum, we build custom software applications for a variety of clients. If you are interested in working with or at Skookum definitely let me know!
          </p>

          <p>
            I'm a husband, father to 2 amazing children, an elder at Forest Hill Church, a veteran of the US Air Force, a former Electrical Engineer, have started and shut down a software startup, love to talk about Talent development and acquisition, am a recovering product guy, a recovering sales guy, and can't stop trying or learning new things, or using commas.
          </p>


          <p>
            The best way to stay up to date with what I've been up to professionally is to connect with me on <%= link_to "LinkedIn", "https://www.linkedin.com/in/andrewgertig" %> or follow me on twitter <%= link_to "@gertig", "https://twitter.com/gertig" %>.
          </p>

          <p>
            I look forward to getting to know you!
          </p>


          <div id="about-me-image"></div>
        </div>
    </div>
</div>

<hr>
