<% title @page.title %>
<%# keywords %>
<% description @page.description %>

<%# Good stuff %>

<%# Facebook Opengraph %>
<%
 opengraph do |graph|
   graph.title "#{@page.title}"
   graph.type 'article'
   graph.url "#{request.url}"
   graph.description @page.description
   # graph.image "#{@page.header_image_url}"
  #  graph.image "#{@page.image}"
 end
%>

<%# Twitter Card %>
<%
  twitter_card('summary') do |card|
    card.url "#{request.url}"
    card.title "#{@page.title}"
    card.description @page.description
    # card.image "#{@page.image}" do |image|
    #   image.src "#{@page.image}"
    # end
    card.creator "@gertig"
    card.site "@gertig"
  end
%>

<!-- Post Content -->
<article>
    <div class="container">

        <div class="row">
            <div id="post-content" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

              <!-- <h1 class="post-title"><%#= @page.title %></h1> -->
              <!-- <span class="post-date"><%#= @page.published_on %></span> -->

              <%#= render partial: "admin_box", locals: { post: @page } if is_andrew? %>
              <!-- <div class="post-sharing-buttons"><%#= render partial: "sharing_buttons", locals: { post: @page } %></div> -->


              <% if @page.content %>
                <%= markdown(@page.content).to_html.html_safe %>
              <% end %>


            </div>
        </div>
    </div>
</article>

<hr>
