<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url(<%= asset_url('home-bg2.png') %>)">
  <div class="overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Andrew Gertig</h1>
                    <div id="about-image"></div>
                    <!-- <hr class="small"> -->
                    <!-- <span class="subheading">Weblog</span> -->
                    <!-- <%= link_to root_url, id: "blog-title", class: "navbar-brand"  do %>
                      Andrew Gertig
                    <% end %> -->
                </div>
            </div>
        </div>
    </div>
  </div>
</header>
